@import 'tailwindcss/base';

/* Base Styling */
@import './base/global.pcss';
@import './base/headings.pcss';
@import './base/fonts.pcss';
@import './base/modern-css-reset.pcss';

@import 'tailwindcss/components';

/* Components Styling */


@import 'tailwindcss/utilities';

